<main class="main">
  <div class="content">
    <div class="row">\
      <ng-template  #add>
        <button
          class="btn"
          (click)="save()"

        >Додати</button>
      </ng-template>
      <button
        class="btn"
        (click)="back()"
        *ngIf="show; else add"
      >Назад</button>
    </div>
    <div class="row" [class.border]="show">
      <router-outlet />
    </div>

    <!-- <div class="divider" role="separator" aria-label="Divider"></div> -->
  </div>
</main>


